.home {
    background: url("../../images/home.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow-y: scroll;
}
.home__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.705);
}

/* Home Destination */
.home__destination {
    margin-top: 80px;
}

/* Home Destination description */

.home__destination-description {
    text-align: left;
    color: white;
}
.home__destination-description h1 {
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
}
.home__destination-description-button {
    background: var(--yellow-color-);
    color: var(--dark-color-);
    border: none;
    padding: 8px 25px;
    font-weight: 600;
    border-radius: 5px;
}

/* Home Destination Display Item */

.home__destination-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__destination-display-item {
    width: 200px;
    height: 300px;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
}

.home__destination-display-item-active {
    border: 3px solid var(--yellow-color-);
}

.home__destination-display-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home__destination-display-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.822));
}

.home__destination-display-item h4 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    bottom: 8px;
    left: 18px;
    font-size: 18px;
}
