:root {
  --primary-color: white;
  --secondary-color-: #f9a51a;
  --font-size-: 16px;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size-);
}
