:root {
  --white-color: #fff;
  --yellow-color-: #f9a51a;
  --dark-color-: #000;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

a:hover {
  text-decoration: none !important;
}
